body {
  background-color: #000;
  color: #00ffc8;
  font-family: 'Courier New', monospace;
  text-align: center;
  padding: 30px;
}

.welcome h1 {
  font-size: 28px;
  color: #00ffcc;
  text-shadow: 0 0 15px cyan;
}

button {
  background: linear-gradient(90deg, #00ffcc, #0077ff);
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}